<%- include header %>
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>Links Manage</h3>
        <ul class="content-box-tabs">
            <li><a href="#tab1" class="default-tab">Manage</a></li>
            <li><a href="#tab2">Add Link</a></li>
            <!-- href must be unique and match the id of target div -->
            <!-- <li><a href="#tab2">XXXX</a></li> -->
        </ul>
        <div class="clear"></div>
    </div>
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <!-- This is the target div. id must match the href of this div's tab -->
            <table>
                <thead>
                <tr>
                    <th>
                        <input class="check-all" type="checkbox" />
                    </th>
                    <th>ID</th>
                    <th>标题</th>
                    <th>URL</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="bulk-actions align-left">
                            <select name="dropdown">
                                <option value="option1">Choose an action...</option>
                                <option value="option2">Edit</option>
                                <option value="option3">Delete</option>
                            </select>
                            <a class="button" href="#">Apply to selected</a> </div>
                        <div class="pagination">
                            <a href="#" title="First Page">&laquo; First</a>
                            <a href="#" title="Previous Page">&laquo; Previous</a>
                            <a href="#" class="number current" title="1">1</a>
                            <!-- <a href="#" class="number" title="2">2</a>  -->
                            <a href="#" title="Next Page">Next &raquo;</a>
                            <a href="#" title="Last Page">Last &raquo;</a>
                        </div>
                        <!-- End .pagination -->
                        <div class="clear"></div>
                    </td>
                </tr>
                </tfoot>
                <tbody>

                <% for(var i = 0; i<links.length; i++){ %>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td><%= links[i].lid %></td>
                    <td><a href="/admin/link-edit/<%= links[i].lid %>" title="title"><%= links[i].content %></a></td>
                    <td><%= links[i].url %></td>
                    <td>
                        <!-- Icons -->
                        <a href="/admin/link-edit/<%= links[i].lid %>" title="Edit"><img src="/admin/images/icons/pencil.png" alt="Edit" /></a>
                        <a href="/admin/link-del/<%= links[i].lid %>" title="Delete"><img src="/admin/images/icons/cross.png" alt="Delete" /></a>
                    </td>
                </tr>
                <% } %>

                </tbody>
            </table>
        </div>
        <!-- End #tab1 -->
        <div class="tab-content" id="tab2">
            <!-- This is the target div. id must match the href of this div's tab -->
            <form method="post">
                <p><input class="text-input small-input" placeholder="链接标题" type="text" name="content" /></p>
                <p><input class="text-input large-input" placeholder="链接URL" type="text" name="url" /></p>
                <input class="button" type="submit" value="添加URL!" />
            </form>
        </div>
    </div>
    <!-- End .content-box-content -->
</div>

<%- include footer %>
